html, body {
    text-align: center;
    margin: 0;
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    background-color: white;
}

.container {
    display:grid;
    background-color: red;
}