html, body {
    height:100vh;
    width:100vw;
    overflow: hidden;
    text-align: center;
    margin:0;
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-size: large;
    background-color:white;
}

h3 {
    font-size:1.5vw;
    margin-bottom:5vh;
}

.content {
    margin-top: 25vh;
    width: 50vw;
    background-color: black;
    color:White;
    padding-top:10vh;
    padding-bottom:10vh;
    box-sizing: border-box;
    border-radius: 1vw;
    margin-left: auto;
    margin-right: auto;
}


.header {
    width: 35vw;
    text-align: center;
    margin: auto;
}

#title-card {
    overflow: hidden;
    border-right: .10em solid white;
    white-space: nowrap; 
    margin: 0 auto;
    letter-spacing: .20em;
    font-size: 2.3vw;
    animation: 
      typing 2.5s steps(30, end) forwards,
      blink-caret .50s step-end infinite,
      disappear-caret 0.5s forwards 2.5s;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: white; }
}

@keyframes disappear-caret {
    0% { border-right-color: white; } 
    100% { border-right-color: transparent; } 
}

a {
    background-color: white;
    color:black;
    text-decoration: none;
    padding:1.5vw;
    border:none;
    border-radius: 5px;
    font-size:1vw;
    transition-duration: .2s;
}

a:hover {
    background-color: gray;
    color:white;
}


@media only screen and (max-width: 600px) {
    html, body{
        background-color: red;
    }
}

@media only screen and (min-width: 600px) {
    html, body{
        background-color: yellow;
    }
}

@media only screen and (max-width: 768px) {
    html, body{
        background-color: blue;
    }
}

@media only screen and (min-width: 992px) {
    html, body{
        background-color: white;
    }
}