html, body {
    height:100vh;
    width:100vw;
    overflow: hidden;
    text-align: center;
    margin:0;
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-size: large;
}

.content {
    margin-top: 30vh;
    width: 50vw;
    background-color: red;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}


.header {
    width: 35vw;
    text-align: center;
    margin: auto;
}

#title-card {
    overflow: hidden;
    border-right: .10em solid black;
    white-space: nowrap; 
    margin: 0 auto;
    letter-spacing: .20em;
    animation: 
      typing 3.5s steps(40, end) forwards,
      blink-caret .75s step-end infinite,
      disappear-caret 0.5s forwards 3.5s; /* Added disappear-caret animation */
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: black; }
}

@keyframes disappear-caret {
    0% { border-right-color: black; } /* Keep the border visible */
    100% { border-right-color: transparent; } /* Fade out the border */
}
